version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: local-postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: qna_db
      POSTGRES_USER: qna_user
      POSTGRES_PASSWORD: qna_pass
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: